PROJECT_NAME=AUTHENTICATION-ANOMALY-DETECTION

DEBUG=True
DATABASE_URL=your-database-url

SECRET_KEY=your-app-secret-key  
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=1440
    
ALLOW_ORIGINS=["http://localhost:8000", "http://127.0.0.1:8000"]


# Redis setup
REDIS_HOST=redis-host
REDIS_PORT=redis-port
REDIS_PASSWORD=redis-password

# Email setup
BREVO_API_URL=https://api.brevo.com/v3/smtp/email
BREVO_API_KEY=........................

OTP_EXPIRY_TIME=300 # Default OTP expiry time in seconds